<div>
    <section class="intro">
        <div class="bg-image h-100">
            <div class="mask d-flex align-items-center h-100">
                <div class="container">
                    <h1>Products List</h1>
                    <!--<form action="/">
                        <div class="input-group mb-3">
                            <select class="form-select" name="category" id="quantity" style="
                            width: 50px; background-color: #e9ecef">
                                    <option value="" selected disabled hidden>Category</option>
                                    <option value="Juegos">Juegos</option>
                                    <option value="Manga">Manga</option>
                                </select>
                            <input type="text" class="form-control" placeholder="nombre" name="query" value="{{query}}" style="width: 80%;">
                            <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </form>-->
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card shadow-2-strong">
                                <div class="card-body p-0">
                                    {{#if prod.isValid}}
                                    <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 800px">
                                        <table class="table table-striped table-bordered table-sm" cellspacing="0" style="width:100%">
                                            <tr class="text-uppercase text-success">
                                                <th scope="col" style="display:none">ID</th>
                                                <th width="150" scope="col">Title</th>
                                                <th scope="col">Description</th>
                                                <th width="100" scope="col">Price</th>
                                                <th width="85" scope="col">Image</th>
                                                <th width="100" scope="col">Code</th>
                                                <th width="90" scope="col">Stock</th>
                                                <th width="100" scope="col">Category</th>
                                            </tr>
                                            <tbody>
                                            {{#each prod.payload}}
                                                <tr>
                                                    <td style="display:none">{{this._id}}</td>
                                                    <td>{{this.title}}</td>
                                                    <td>{{this.description}}</td>
                                                    <td class="text-end">{{this.price}}</td>
                                                    <td><img src="{{this.thumbnail.[0]}}"  width="72" height="72" style="vertical-align:middle"></td>
                                                    <td>{{this.code}}</td>
                                                    <td class="text-end">{{this.stock}}</td>
                                                    <td>{{this.category}}</td>
                                                </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                    {{else}}
                                    <h2>No hay productos disponibles</h2>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
