<div>
    <section class="intro">
        <div class="bg-image h-100">
            <div class="mask d-flex align-items-center h-100">
                <div class="container">
                    <br>
                    <h1>List de Usuarios</h1>
                    <form action="/">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="nombre" name="query" value="{{query}}" style="width: 80%;">
                            <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </form>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card shadow-2-strong">
                                <div class="card-body p-0">
                                    {{#if users.status}}
                                    <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                                        <table class="table table-striped table-bordered table-sm" cellspacing="0" style="width:100%">
                                            <tr class="text-uppercase text-success">
                                                <th scope="col" style="display:none">ID</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Correo</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Método</th>
                                                <th scope="col">Documentos</th>
                                                <th scope="col">Ultima Conexión</th>
                                                <th scope="col">Mejorar</th>
                                                <th scope="col">Eliminar</th>
                                            </tr>
                                            <tbody>
                                            {{#each users.payload}}
                                                <tr class="alert">
                                                    <td style="display:none">{{this.id}}</td>
                                                    <td>{{this.first_name}} {{this.last_name}}</td>
                                                    <td>{{this.email}}</td>
                                                    <td>{{this.role}}</td>
                                                    <td>{{this.method}}</td>
                                                    <td>{{this.documents.length}}</td>
                                                    <td>{{this.last_connection}}</td>
                                                    {{#if this.premium}}
                                                        <td style="text-align: center;"><button class="btn btn-outline-danger"  onclick="upgradeUser('{{this.id}}')"><svg class="cls-2" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><defs><style>.cls-2{fill:red;} .cls-2:hover{fill:#FFFFFF;}</style></defs>
                                                                                                                                                                        <path d="M78.73,114.84l-.39.43a.78.78,0,0,1-1.27-.09l-.35-.53c-.16.32-.3.63-.44.93l-.87,1.87c-.06.12-.1.24-.26.24s-.2-.1-.26-.21l-.49-.87a.16.16,0,0,0-.2-.1c-.36.07-.72.13-1.08.17a.32.32,0,0,1-.27-.08.34.34,0,0,1,0-.28c.27-.6.55-1.2.83-1.79a.25.25,0,0,0,0-.24.65.65,0,0,1-.08-.31c0-.3,0-.59,0-.89s-.09-.33-.31-.36l-1.39-.23a.79.79,0,0,1-.59-1.21l.4-.68a.34.34,0,0,0-.1-.52l-1-.78a.78.78,0,0,1,.09-1.33l.74-.43c.23-.14.28-.26.18-.51s-.29-.74-.43-1.1a.79.79,0,0,1,.74-1.12l1,0c.24,0,.33-.08.38-.31.08-.44.16-.87.25-1.3a.77.77,0,0,1,1.11-.56c.33.14.64.31,1,.46a.34.34,0,0,0,.5-.09l.93-1a.79.79,0,0,1,1.31.09l.51.76c.16.23.26.26.51.17.46-.15.91-.31,1.37-.45a.78.78,0,0,1,1.07.77l0,.85a.33.33,0,0,0,.3.33l1.41.23a.78.78,0,0,1,.59,1.19l-.4.69a.34.34,0,0,0,.1.53l1,.74a.79.79,0,0,1-.09,1.39l-.73.42a.32.32,0,0,0-.16.47c.14.38.29.75.43,1.12a.77.77,0,0,1-.68,1.11c-.34,0-.69,0-1,.05s-.32.08-.37.32c-.08.42-.16.85-.25,1.28a.92.92,0,0,1-.14.32.2.2,0,0,0,0,.23c.27.58.54,1.16.8,1.74a.39.39,0,0,1,0,.28.31.31,0,0,1-.25.09q-.56-.07-1.11-.18c-.1,0-.14,0-.18.08-.17.31-.35.62-.53.93,0,.1-.13.2-.25.16a.37.37,0,0,1-.21-.18c-.41-.85-.8-1.7-1.2-2.55Zm1.89-2.6.77,1.64c.11-.42.19-.83.27-1.24a.79.79,0,0,1,.8-.68c.32,0,.64,0,1,0a.35.35,0,0,0,.34-.53c-.15-.36-.29-.72-.43-1.08a.78.78,0,0,1,.36-1c.25-.14.5-.28.74-.43s.3-.4,0-.6l-1-.76a.78.78,0,0,1-.21-1.11l.38-.67a.33.33,0,0,0-.25-.54L82,104.94a.75.75,0,0,1-.65-.73c0-.3,0-.59,0-.89a.35.35,0,0,0-.5-.34c-.46.17-.93.32-1.4.47a.77.77,0,0,1-.93-.32c-.19-.26-.37-.53-.55-.8s-.38-.27-.6,0l-.91,1a.81.81,0,0,1-1,.21c-.31-.16-.62-.32-.94-.47a.32.32,0,0,0-.49.25c-.09.44-.17.87-.25,1.31a.76.76,0,0,1-.7.64c-.35,0-.71.05-1.07.05a.34.34,0,0,0-.33.53c.15.35.29.71.43,1.08a.77.77,0,0,1-.36,1l-.74.43c-.28.17-.3.4,0,.61l1,.76a.78.78,0,0,1,.22,1.08l-.39.69a.32.32,0,0,0,.25.54l1.29.21a.8.8,0,0,1,.79.84c0,.19,0,.38,0,.62l.62-1.33a.17.17,0,0,0,0-.24,4.54,4.54,0,0,1-1.54-4.42,4.67,4.67,0,1,1,7.53,4.52Zm-2.94-7.85a4.22,4.22,0,1,0,4.21,4.22A4.22,4.22,0,0,0,77.68,104.39Zm2.54,12.54,0,0c.13-.24.27-.48.41-.72s.16-.21.38-.17l.89.15-1.7-3.65a5,5,0,0,1-1.76.7Zm-3.35-3.69c-.32-.1-.63-.18-.91-.29s-.56-.27-.85-.41l-1.69,3.63c.31,0,.6-.09.88-.15s.28,0,.4.18l.43.76Zm.86,1.88A1.48,1.48,0,0,0,78,115c.15-.15.29-.32.44-.47a.16.16,0,0,0,0-.22c-.12-.24-.24-.49-.34-.74s-.18-.3-.4-.25a2.62,2.62,0,0,1-.28,0,.22.22,0,0,0-.13.08c-.12.24-.23.47-.33.72a.18.18,0,0,0,0,.16c.15.23.3.47.47.69A1.09,1.09,0,0,0,77.73,115.12Z" transform="translate(-70.24 -101.66)"/>
                                                                                                                                                                        <path d="M77.56,112.49a3.88,3.88,0,1,1,4-3.74A3.89,3.89,0,0,1,77.56,112.49Zm.12-7.3a3.42,3.42,0,1,0,3.41,3.43A3.42,3.42,0,0,0,77.68,105.19Z" transform="translate(-70.24 -101.66)"/>
                                                                                                                                                                        <path d="M77.67,110.41H75.79c-.32,0-.36,0-.38-.36-.08-.81-.15-1.63-.23-2.44a.59.59,0,0,0-.06-.14.41.41,0,0,1,.09-.48.4.4,0,0,1,.67.38.28.28,0,0,0,0,.18,6,6,0,0,0,.31.55c.08.13.64.14.72,0a3.54,3.54,0,0,1,.19-.33.4.4,0,0,0,.08-.42.42.42,0,0,1,.21-.47.47.47,0,0,1,.52,0,.43.43,0,0,1,.2.47.4.4,0,0,0,.06.38l0,0c.26.45.26.45.77.41a.2.2,0,0,0,.12-.08c.12-.19.23-.38.34-.57a.36.36,0,0,0,0-.18.42.42,0,0,1,.21-.43.4.4,0,0,1,.45,0,.42.42,0,0,1,.12.44,4.64,4.64,0,0,0-.11.51c-.07.74-.13,1.49-.2,2.23,0,.17-.1.24-.29.25Zm-1.94-2.23h0l.11,1.26h3.73l.12-1.27a1.22,1.22,0,0,0-.2.28.32.32,0,0,1-.31.19c-.25,0-.49,0-.73,0a.34.34,0,0,1-.34-.2c-.12-.23-.26-.45-.4-.7l-.42.72a.32.32,0,0,1-.3.18,2.44,2.44,0,0,0-.54,0,.53.53,0,0,1-.63-.38Zm3.73,1.75h0Z" transform="translate(-70.24 -101.66)"/>
                                                                                                                                                                        </svg></button></td>
                                                    {{else}}
                                                        <td style="text-align: center;"><button class="btn btn-outline-warning"  onclick="upgradeUser('{{this.id}}')"><svg class="cls-1" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><defs><style>.cls-1{fill:#FFc107;} .cls-1:hover{fill:#FFFFFF;}</style></defs>
                                                                                                                                                                        <path d="M78.73,114.84l-.39.43a.78.78,0,0,1-1.27-.09l-.35-.53c-.16.32-.3.63-.44.93l-.87,1.87c-.06.12-.1.24-.26.24s-.2-.1-.26-.21l-.49-.87a.16.16,0,0,0-.2-.1c-.36.07-.72.13-1.08.17a.32.32,0,0,1-.27-.08.34.34,0,0,1,0-.28c.27-.6.55-1.2.83-1.79a.25.25,0,0,0,0-.24.65.65,0,0,1-.08-.31c0-.3,0-.59,0-.89s-.09-.33-.31-.36l-1.39-.23a.79.79,0,0,1-.59-1.21l.4-.68a.34.34,0,0,0-.1-.52l-1-.78a.78.78,0,0,1,.09-1.33l.74-.43c.23-.14.28-.26.18-.51s-.29-.74-.43-1.1a.79.79,0,0,1,.74-1.12l1,0c.24,0,.33-.08.38-.31.08-.44.16-.87.25-1.3a.77.77,0,0,1,1.11-.56c.33.14.64.31,1,.46a.34.34,0,0,0,.5-.09l.93-1a.79.79,0,0,1,1.31.09l.51.76c.16.23.26.26.51.17.46-.15.91-.31,1.37-.45a.78.78,0,0,1,1.07.77l0,.85a.33.33,0,0,0,.3.33l1.41.23a.78.78,0,0,1,.59,1.19l-.4.69a.34.34,0,0,0,.1.53l1,.74a.79.79,0,0,1-.09,1.39l-.73.42a.32.32,0,0,0-.16.47c.14.38.29.75.43,1.12a.77.77,0,0,1-.68,1.11c-.34,0-.69,0-1,.05s-.32.08-.37.32c-.08.42-.16.85-.25,1.28a.92.92,0,0,1-.14.32.2.2,0,0,0,0,.23c.27.58.54,1.16.8,1.74a.39.39,0,0,1,0,.28.31.31,0,0,1-.25.09q-.56-.07-1.11-.18c-.1,0-.14,0-.18.08-.17.31-.35.62-.53.93,0,.1-.13.2-.25.16a.37.37,0,0,1-.21-.18c-.41-.85-.8-1.7-1.2-2.55Zm1.89-2.6.77,1.64c.11-.42.19-.83.27-1.24a.79.79,0,0,1,.8-.68c.32,0,.64,0,1,0a.35.35,0,0,0,.34-.53c-.15-.36-.29-.72-.43-1.08a.78.78,0,0,1,.36-1c.25-.14.5-.28.74-.43s.3-.4,0-.6l-1-.76a.78.78,0,0,1-.21-1.11l.38-.67a.33.33,0,0,0-.25-.54L82,104.94a.75.75,0,0,1-.65-.73c0-.3,0-.59,0-.89a.35.35,0,0,0-.5-.34c-.46.17-.93.32-1.4.47a.77.77,0,0,1-.93-.32c-.19-.26-.37-.53-.55-.8s-.38-.27-.6,0l-.91,1a.81.81,0,0,1-1,.21c-.31-.16-.62-.32-.94-.47a.32.32,0,0,0-.49.25c-.09.44-.17.87-.25,1.31a.76.76,0,0,1-.7.64c-.35,0-.71.05-1.07.05a.34.34,0,0,0-.33.53c.15.35.29.71.43,1.08a.77.77,0,0,1-.36,1l-.74.43c-.28.17-.3.4,0,.61l1,.76a.78.78,0,0,1,.22,1.08l-.39.69a.32.32,0,0,0,.25.54l1.29.21a.8.8,0,0,1,.79.84c0,.19,0,.38,0,.62l.62-1.33a.17.17,0,0,0,0-.24,4.54,4.54,0,0,1-1.54-4.42,4.67,4.67,0,1,1,7.53,4.52Zm-2.94-7.85a4.22,4.22,0,1,0,4.21,4.22A4.22,4.22,0,0,0,77.68,104.39Zm2.54,12.54,0,0c.13-.24.27-.48.41-.72s.16-.21.38-.17l.89.15-1.7-3.65a5,5,0,0,1-1.76.7Zm-3.35-3.69c-.32-.1-.63-.18-.91-.29s-.56-.27-.85-.41l-1.69,3.63c.31,0,.6-.09.88-.15s.28,0,.4.18l.43.76Zm.86,1.88A1.48,1.48,0,0,0,78,115c.15-.15.29-.32.44-.47a.16.16,0,0,0,0-.22c-.12-.24-.24-.49-.34-.74s-.18-.3-.4-.25a2.62,2.62,0,0,1-.28,0,.22.22,0,0,0-.13.08c-.12.24-.23.47-.33.72a.18.18,0,0,0,0,.16c.15.23.3.47.47.69A1.09,1.09,0,0,0,77.73,115.12Z" transform="translate(-70.24 -101.66)"/>
                                                                                                                                                                        <path d="M77.56,112.49a3.88,3.88,0,1,1,4-3.74A3.89,3.89,0,0,1,77.56,112.49Zm.12-7.3a3.42,3.42,0,1,0,3.41,3.43A3.42,3.42,0,0,0,77.68,105.19Z" transform="translate(-70.24 -101.66)"/>
                                                                                                                                                                        <path d="M77.67,110.41H75.79c-.32,0-.36,0-.38-.36-.08-.81-.15-1.63-.23-2.44a.59.59,0,0,0-.06-.14.41.41,0,0,1,.09-.48.4.4,0,0,1,.67.38.28.28,0,0,0,0,.18,6,6,0,0,0,.31.55c.08.13.64.14.72,0a3.54,3.54,0,0,1,.19-.33.4.4,0,0,0,.08-.42.42.42,0,0,1,.21-.47.47.47,0,0,1,.52,0,.43.43,0,0,1,.2.47.4.4,0,0,0,.06.38l0,0c.26.45.26.45.77.41a.2.2,0,0,0,.12-.08c.12-.19.23-.38.34-.57a.36.36,0,0,0,0-.18.42.42,0,0,1,.21-.43.4.4,0,0,1,.45,0,.42.42,0,0,1,.12.44,4.64,4.64,0,0,0-.11.51c-.07.74-.13,1.49-.2,2.23,0,.17-.1.24-.29.25Zm-1.94-2.23h0l.11,1.26h3.73l.12-1.27a1.22,1.22,0,0,0-.2.28.32.32,0,0,1-.31.19c-.25,0-.49,0-.73,0a.34.34,0,0,1-.34-.2c-.12-.23-.26-.45-.4-.7l-.42.72a.32.32,0,0,1-.3.18,2.44,2.44,0,0,0-.54,0,.53.53,0,0,1-.63-.38Zm3.73,1.75h0Z" transform="translate(-70.24 -101.66)"/>
                                                                                                                                                                        </svg></button></td>
                                                    
                                                    {{/if}}
                                                    <td style="text-align: center;"><button class="btn btn-outline-danger"  onclick="deleteUser('{{this.id}}')"><i class="bi bi-trash2-fill" width="32" height="32" fill="red"></i></button></td>
                                                </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="d-flex justify-content-center">
                                            {{#if prod.hasPrevPage}}
                                            <a class="btn btn-outline-dark mt-auto" href="{{prod.prevLink}}"><i class="bi bi-caret-left-fill"></i> Anterior</a>
                                            {{else}}
                                            <a class="btn btn-outline-dark mt-auto disabled" ><i class="bi bi-caret-left-fill"></i> Anterior</a>
                                            {{/if}}
                                            <a class="btn btn-outline-dark mt-auto disabled">{{ prod.page }}</a>
                                            {{#if prod.hasNextPage}}
                                            <a class="btn btn-outline-dark mt-auto" href="{{prod.nextLink}}">Siguiente <i class="bi bi-caret-right-fill"></i></a>
                                            {{else}}
                                            <a class="btn btn-outline-dark mt-auto disabled" >Siguiente <i class="bi bi-caret-right-fill"></i></a>
                                            {{/if}}
                                        </div>
                                    </div>
                                    {{else}}
                                    <h2>No hay usuarios registrados</h2>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/js/users.js"></script>
<style>
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.thead {
  top: 0;
  position: sticky;
}

td {
    vertical-align: middle;
}
td img {
    object-fit: contain;
}
</style>


